.row {
  padding:10px;
}
div.col-md-12 > div.col-md-3{
  min-height: 500px;
}
.inputFileClass {
  color:#FFF;
  width:100% !important;
}

::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
}

:-ms-input-placeholder {
   color: #FFF;
}
